#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ReferAndEarnUI_referAndEarnWrapper__I1jrW.ReferAndEarnUI_nonLoggedinWrapper__lJ6NB.ReferAndEarnUI_PE__a9m9o {
  background-color: #00734a;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW.ReferAndEarnUI_nonLoggedinWrapper__lJ6NB {
  background-color: #000;
  flex-direction: row;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW {
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-top: 11px;
  padding-bottom: 9px;
}
.top-bottom-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ReferAndEarnUI_referAndEarnWrapper__I1jrW .ReferAndEarnUI_leftSection__PoH8K {
  display: flex;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW.ReferAndEarnUI_nonLoggedinWrapper__lJ6NB
  .ReferAndEarnUI_buttonWrrapper__KO3lL {
  margin-left: 70px;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW .ReferAndEarnUI_imageWrapper__XBPer {
  line-height: 0px;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW.ReferAndEarnUI_nonLoggedinWrapper__lJ6NB.ReferAndEarnUI_PE__a9m9o
  .ReferAndEarnUI_referAndEarnText__GfRCu {
  font-size: 21px;
  font-family: Cabin;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: normal;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW
  .ReferAndEarnUI_referAndEarnText__GfRCu {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 21px;
  font-family: Oswald;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW
  .ReferAndEarnUI_referAndEarnText__GfRCu
  .ReferAndEarnUI_referAndEarnTextWrapper__0fndJ {
  margin-bottom: 5px;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW
  .ReferAndEarnUI_referAndEarnText__GfRCu
  .ReferAndEarnUI_referDescription__Bkwrz {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  text-transform: none;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW.ReferAndEarnUI_nonLoggedinWrapper__lJ6NB.ReferAndEarnUI_PE__a9m9o
  .ReferAndEarnUI_referAndEarnText__GfRCu
  .ReferAndEarnUI_referText__D__RF {
  color: #fff;
}
.ReferAndEarnUI_referAndEarnWrapper__I1jrW
  .ReferAndEarnUI_referAndEarnText__GfRCu
  .ReferAndEarnUI_programText__YTWeo {
  color: #fff;
  margin-left: 5px;
}

.ReferAndEarnUI_referAndEarnWrapper__I1jrW.ReferAndEarnUI_nonLoggedinWrapper__lJ6NB
  .ReferAndEarnUI_buttonWrrapper__KO3lL {
  margin-left: 70px;
}
.peterengland .MuiButton-root.MuiButton-sizeMedium {
  height: 45px;
  padding: 0 20px;
}

.ReferAndEarnUI_referAndEarnWrapper__I1jrW
  .ReferAndEarnUI_buttonWrrapper__KO3lL
  button {
  width: 100%;
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
}
.css-1q5hhcx {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  font-family: Cabin, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ShopLook_shopLook__Wk_qR {
  margin-top: 50px;
}

.top-bottom-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}
.ShopLook_shopLook_head__SR4AR {
  text-align: center;
  margin-bottom: 20px;
}
.ShopLook_shopLook__Wk_qR .ShopLook_shopLook_content__ZyyIf {
  overflow: overlay;
  flex-wrap: nowrap;
}

.containerGrid {
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
.ShopLook_shopLook_link__JRNI_ {
  margin-top: 30px;
  text-align: center;
}
.css-1x6z1qf {
  margin: 0px;
  font-size: 14px;
  font-family: Lato;
  font-weight: normal;
  line-height: normal;
}

.ShopLook_PE__BvB8c .ShopLook_shopLook_head_text__hb2Y_ {
  font-weight: 700;
  line-height: 38px;
}

.ShopLook_shopLook_head_text__hb2Y_ {
  text-transform: uppercase;
  font-size: 28px;
}

.ShopLook_shopLook_content_item__0Q4i_ {
  width: 23.5%;
  margin-right: 20px;
  position: relative;
}
.ShopLook_shopLook_content_item_link__nIBle {
  margin-right: 20px;
  display: block;
  width: 100%;
}
.ShopLook_shopLook_content_item_cartIcon__oybvn {
  position: absolute;
  top: 10px;
  z-index: 1;
  background: #fff;
  border-radius: 15%;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ShopLook_shopLook__Wk_qR .ShopLook_overlaybtn__uh6pK {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.Share_shareContainer__cqEJ9.Share_shopLookComponentStyle__dRsGK
  .Share_shareIcon__1sK5A {
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.ShopLook_shopLook_link__JRNI_ {
  margin-top: 30px;
  text-align: center;
}

.ShopLook_PE__BvB8c .ShopLook_shopLook_link_text__QMFLk {
  font-family: Lato;
  width: -moz-fit-content;
  width: fit-content;
}

.ShopLook_shopLook_link_text__QMFLk {
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-family: Oswald;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.58px;
  cursor: pointer;
  margin: 0 auto;
}
.SignUpBannerPE_signupBannerPE__1vvRT {
  background: #00734a;
  padding: 40px 0;
  color: #fff;
}

.top-bottom-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}
.SignUpBannerPE_signupBannerPE_container_content__AF8oU {
  justify-content: space-evenly;
  align-items: center;
}

.css-1d3bbye {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.SignUpBannerPE_signupBannerPE_container_content_titleText__wHt5L {
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: 2;
}
.SignUpBannerPE_signupBannerPE_container_content_titleHead__q3TUm {
  font-size: 12px;
  font-family: Cabin;
  font-weight: 500;
  line-height: 2.33;
  text-transform: uppercase;
}
.SignUpBannerPE_signupBannerPE_container_content_titleSub__lGcso {
  font-size: 21px;
  font-family: Cabin;
  line-height: 28px;
  text-transform: uppercase;
}
.SignUpBannerPE_signupBannerPE_container_btnWrap___eeiY
  .MuiButton-containedPrimarywhite.MuiButton-sizeMedium {
  margin-right: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  color: #000;
}

.peterengland .MuiButton-root.MuiButton-sizeMedium {
  height: 45px;
  padding: 0 20px;
}

@media (max-width: 1600px) {
  .max-container-left {
    margin-left: 100px;
  }
}
.RecommendedProducts_ui_recomandedProductsContainer__8fhCj
  .RecommendedProducts_ui_headingContainer__TPFRD
  .RecommendedProducts_ui_heading__Uq3sT {
  padding-left: 20px;
  margin-bottom: 20px;
}

.RecommendedProducts_ui_PE__bUp9b.RecommendedProducts_ui_heading__Uq3sT {
  font-size: 21px;
  font-family: Cabin;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: normal;
  text-transform: uppercase;
  padding-left: 0;
}
.css-u8yvit {
  margin: 0px;
  font-size: 28px;
  font-family: Cabin;
  font-weight: normal;
  line-height: 1.25;
}
.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    ease
  );
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.ProductCard_productCardWrapper__aLR0s {
  position: relative;
}
.ProductCard_productCard__T2sam {
  padding: 0 10px;
  cursor: pointer;
}
.ProductCard_productCard__T2sam.ProductCard_PE__UjVmw
  .ProductCard_imageContainer__D_460 {
  background-color: #fff;
  border-radius: 8px;
}

.ProductCard_productCard__T2sam .ProductCard_imageContainer__D_460 {
  display: flex;
  justify-content: center;
  position: relative;
  aspect-ratio: 2 / 3;
  height: auto;
}
.ProductCard_productCard__T2sam.ProductCard_PE__UjVmw
  .ProductCard_imageCarouselContainer__bzSQg {
  border-radius: 10px;
  overflow: hidden;
}

.ProductCard_productCard__T2sam
  .ProductCard_imageContainer__D_460
  .ProductCard_imageCarouselContainer__bzSQg {
  display: block;
  width: 100%;
  height: 100%;
}
